@use '../utilities/mixins';
@use '../utilities/variables';

.pie
{
    @include mixins.flex(row, center, center);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: variables.$secondary-colorbackground;

}
