@use '../utilities/mixins';
@use '../utilities/variables';

body {
    background-color:variables.$main-colorbackground;
    margin: 0px;
    padding: 0px;

}

.pagina {
     @media (max-width: 576px) {
        flex-direction: column;
        padding: 0;
        justify-content: justify;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    
    @include mixins.flex(row, space-evenly, center);
    margin: 5px;
    font-size: 25px; 
   max-width: 100%;

   
   
   
  
   
}

.pagina div {
    @include mixins.flex(column, center, center);
    max-width: 100%;
    margin: 5px;
    padding: 5px;
    width: 550px;
    height: 450px;
    font-size: 20px;
    line-height: 1.6;
}
.pagina img {
    max-width: 100%;
    max-height: 100%;
    height: 450px;
    width: 450px;
}
.mapa {
   @include mixins.flex(column, center, center);
}

.parrafo-destacado {

    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
.testimonio {
    font-size: 35px;
    font-style: italic;
    font-size: large;
}


.titulo{
@include mixins.flex(row, center, center);
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
   text-align: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
}


