@use '../utilities/mixins';
@use '../utilities/variables';

body {
    background-color:variables.$main-colorbackground;
    margin: 0;
    padding: 0;

}

.pagina {
    @include mixins.flex(row, space-evenly, center);
    margin: 20px;
    font-size: 25px; 
   max-width: 100%;
   @media (max-width: 576px) {
        flex-direction: column;
        padding: 0;
    }
   

}

.pagina div {
    @include mixins.flex(column, center, center);
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    width: 550px;
    height: 450px;
    font-size: 20px;
    line-height: 1.6;
}
.pagina img {
    max-width: 100%;
    height: 450px;
    width: 550px;
    margin-bottom: 20px;
}
.mapa {
   @include mixins.flex(column, center, center);
}

.parrafo-destacado {

    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
.testimonio {
    font-size: 35px;
    font-style: italic;
    font-size: large;
}


.titulo{
    font-size: 2px;
    font-weight: bold;
    margin-bottom: 20px;
   text-align: center;
}



