@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/*font-family: "Quicksand", sans-serif; */
* {
    margin: 0;
    padding: 0;
  /*  box-sizing: border-box;*/
}

.logo
{
    width: 500px;
}

body {
    background-color:#d3dee9;
    margin: 0;
    padding: 0;
}


p{
    font-family: "Quicksand", sans-serif;
}
.testimonio {
    font-style: italic;
    font-size: large;
}

.pagina {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin: 20px;
}
.titulo {
   text-align: center;

}

.texto {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    align-items: center;
}
.pagina {
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   max-width: 100%; 
   font-size: 25px;



}
.pagina img {
    display: flex;
    max-width: 100%;
    height: 400px;
    margin-bottom: 20px;
}
.pagina div {
    padding: 20px;
}
.datosprofesionales {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: left;
}
.pie
{
    display:flex
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    padding: 20px;
    margin-top: 20px;
    background-color: lightblue;

}
.bg-nav-propia
{
    background-color:lightblue;
    font-weight: bold;
    align-items: right;
    
}
.navbar-brand img   
{
    height: 60px;
}  