@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/*font-family: "Quicksand", sans-serif; */
* {
    margin: 0;
    padding: 0;
  /*  box-sizing: border-box;*/
}

.logo
{
    width: 500px;
}

body {
    background-color:#d3dee9;
    margin: 0;
    padding: 0;
}


p{
    font-family: "Quicksand", sans-serif;
}
.testimonio {
    font-style: italic;
    font-size: large;
}

.pagina {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
    font-size: 25px;
    justify-content: space-evenly;
   max-width: 100%;
 
}

.pagina div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 400px;
    font-size: 25px;
    line-height: 1.6;
    max-width: 100%;
}
.pagina p{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    justify-content: center;
}
.pagina img {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 450px;
    width: 450px;
    margin-bottom: 20px;
}


.titulo {
   text-align: center;

}

.texto {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    align-items: center;
}





.pie
{
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    padding: 20px;
    margin-top: 20px;
    background-color: lightblue;

}
.bg-nav-propia
{
    display:flex;
    justify-content: right;
    background-color:lightblue;
    font-weight: bold;
    align-items: right;
    
}
.navbar-brand img   
{
    height: 60px;
}  

.BOTON
{
    background-color: lightblue;
    border: black solid 2px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}
.BOTON:hover
{
    background-color: blue;
    color: white;
    border: white solid 2px;
}